<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>AuthenticateServer</display-name>
  <listener>
    <listener-class>org.authenticate.Startup</listener-class>
  </listener>
  
  <servlet>
    <servlet-name>Authenticate</servlet-name>
    <servlet-class>org.authenticate.servlet.AuthenticateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Authenticate</servlet-name>
    <url-pattern>/Authenticate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangePassword</servlet-name>
    <servlet-class>org.authenticate.servlet.ChangePasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePassword</servlet-name>
    <url-pattern>/ChangePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SignIn</servlet-name>
    <servlet-class>org.authenticate.servlet.SignInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignIn</servlet-name>
    <url-pattern>/SignIn</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SignUp</servlet-name>
    <servlet-class>org.authenticate.servlet.SignUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUp</servlet-name>
    <url-pattern>/SignUp</url-pattern>
  </servlet-mapping>
</web-app>