<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Channel</display-name>
  <listener>
    <listener-class>com.fanxing.billing.Startup</listener-class>
  </listener>
  
  <!-- 内部接口开始 -->
  
  <servlet>
    <servlet-name>AccountBalance</servlet-name>
    <servlet-class>com.fanxing.billing.account.api.AccountBalanceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountBalance</servlet-name>
    <url-pattern>/account/balance</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AccountPay</servlet-name>
    <servlet-class>com.fanxing.billing.account.api.AccountPayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountPay</servlet-name>
    <url-pattern>/account/pay</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AccountPayCancel</servlet-name>
    <servlet-class>com.fanxing.billing.account.api.AccountPayCancelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountPayCancel</servlet-name>
    <url-pattern>/account/payCancel</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AccountPresent</servlet-name>
    <servlet-class>com.fanxing.billing.account.api.AccountPresentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountPresent</servlet-name>
    <url-pattern>/account/present</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AccountCharge</servlet-name>
    <servlet-class>com.fanxing.billing.account.api.AccountChargeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountCharge</servlet-name>
    <url-pattern>/account/charge</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AccountQueryPay</servlet-name>
    <servlet-class>com.fanxing.billing.account.api.AccountQueryPayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountQueryPay</servlet-name>
    <url-pattern>/account/queryPay</url-pattern>
  </servlet-mapping>
  
  <!-- 内部接口结束 -->
  
  <!-- 腾讯接口开始 -->
  
  <servlet>
    <servlet-name>TencentBalance</servlet-name>
    <servlet-class>com.fanxing.billing.tencent.api.TencentBalanceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TencentBalance</servlet-name>
    <url-pattern>tencent/balance</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>TencentPay</servlet-name>
    <servlet-class>com.fanxing.billing.tencent.api.TencentPayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TencentPay</servlet-name>
    <url-pattern>/tencent/pay</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>TencentPayCancel</servlet-name>
    <servlet-class>com.fanxing.billing.tencent.api.TencentPayCancelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TencentPayCancel</servlet-name>
    <url-pattern>/tencent/payCancel</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>TencentPresent</servlet-name>
    <servlet-class>com.fanxing.billing.tencent.api.TencentPresentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TencentPresent</servlet-name>
    <url-pattern>/tencent/present</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>TencentCharge</servlet-name>
    <servlet-class>com.fanxing.billing.tencent.api.TencentChargeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TencentCharge</servlet-name>
    <url-pattern>/tencent/charge</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>TencentQueryPay</servlet-name>
    <servlet-class>com.fanxing.billing.tencent.api.TencentQueryPayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TencentQueryPay</servlet-name>
    <url-pattern>/tencent/queryPay</url-pattern>
  </servlet-mapping>
  
  <!-- 腾讯接口结束 -->
  
</web-app>